@charset "utf-8";
/* CSS Document */

body {
  color: #000;
  background: #332f29;
  font-size: 100%;
}
#contenedor {
  width: 800px;
  background: #8fa68e;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
nav {
  background: #cc3910;
  float: left;
  width: 160px;
}
ul {
  list-style-type: none;
}
a {
  color: #f1f2c0;
  text-decoration: none;
}
section {
  background: #f1f2c0;
  float: left;
  margin: 0 0 0 25px;
  width: 400px;
}
aside {
  background: #ccc59e;
  float: right;
  width: 190px;
}

@media screen and (max-width: 800px) {
#contenedor {
	width: 100%;
}

  nav {
    width: 100%;
    background-color: #ffcc66;
    border-bottom: 1px solid;
  }

  a {
    color: black;
  }

  li {
    margin-bottom: 10px;
  }

  section {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid;
    padding: 10px;
  }

  aside {
    float: left;
    width: 100%;
	padding: 10px;
  }
}
